.vscode
codi/__pycache__
minidataset
minidataset.rar
codi/Nets/definitiveRGB/__pycache__
codi/Nets/runs
codi/Nets/definitiveRGB/runs
minidatasetD
minidataset480
dataset
dataset.rar
minidataset120.rar
minidataset480.rar
minidataset960.rar
modelGANDISC_OLD.pth
minidataset120
minidataset480
minidatasetD
codi/Nets/provaSRGAN/models
codi/Nets/provaSRGAN/runs
datasetAzure
datasetAzure.rar
GANTraining
minidataset240
minidataset240.rar